.section-single-movie {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .single-movie {
    display: flex;
    align-items: center;
    width: 60%;
    height: auto;
    color: aliceblue;
    background-color: rgb(247, 38, 73);

    &__img {
      max-width: 300px;

      @media (max-width: 1180px) {
        margin-bottom: 20px;
      }
    }

    &__info {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
      align-self: end;

      @media (max-width: 1180px) {
        padding-right: 20px;
      }

      > span {
        display: block;
        font-weight: 500;

        &:last-of-type {
          margin-bottom: 30px;
        }
      }
    }

    @media (max-width: 1180px) {
      flex-direction: column;
      width: 60%;
    }
  }

  @media (max-width: 1180px) {
    // height: 100%;
  }
}
